hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  .container-box {
    width: 80%;
    background-color: transparent;
    position: relative;
    z-index: 9;
  }
  
  .particles-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hs-bg-blue{
    background: #0087C6;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
    /*this gives the dimension of slider container*/
    /*these values will make the container as big as the parent div*/
    overflow: hidden;
    /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
    }
    .swiper-slide {
    width:300px;
    height:300px;
    /*this one holds the dimension of each slides and can be changed according to the user wish*/
    }

    .swiper-container .p-2{
      justify-content: center;
      text-align:center;
    }

    .swiper-container .card{
      height: 690px;
    }

    @media (max-width:1024px){
      .box-desptok{
        display:none;
      }

      .jumbotron{
        padding: 1rem 0.5rem;
      }
    }

    @media (max-width:9000px) and (min-width:1024px){
      .box-mobile{
        display:none;
      }

      .jumbotron{
        padding: 2rem 1rem;
      }
    }

    .white-line{
      background:white;
    }

    .App{
      background: #0F0F0F!important;
    }

    .color-white{
      color:white!important;
    }

    .jumbo-gray-bg{
      background:#696969;
    }

    .accordian-main,.eLXIEq.eLXIEq .url-button{
      background-color: #808080!important;
    }

    